 <ul class="ul-navbar">
  <li><%= link_to "Browse all buddies", buddies_path %></li>
  <li class="link-list"><a href="#">Experiences</a></li>
  <li class="link-list"><a href="#">Suggested activities</a></li>
</ul>
<div class="container">
  <h1>All buddies</h1>

  <div class="grid">
    <% @buddies.each do |buddy| %>
      <div class="buddy-card">
        <img class="card-img" src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTY3MDUxMjkzMjI1OTIwMTcz/brad-pitt-attends-the-premiere-of-20th-century-foxs--square.jpg" alt="Buddy card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to buddy.name, buddy_path(buddy) %></h5>
          <div class="scroll">
            <p class="card-text"><%= buddy.biography %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
