<h1>All buddies</h1>

<ul>
  <% @buddies.each do |buddy| %>
    <li><%= link_to buddy.name, buddy_path(buddy) %></li>
  <% end %>
</ul>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Buddy image">
  <div class="card-body">
    <h5 class="card-title">Buddy name</h5>
    <p class="card-text">Biography</p>
    <a href="#" class="btn btn-primary">See more</a>
  </div>
</div>
