.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  display: flex;
}

.message_request {
  background-color: $gray-blue;
  padding: 20px;
  border-radius: 5px;
  border: 3px solid $orange;
  width: 800px;
}
