.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  display: flex;
}

.message_request {
  background-color: $gray-blue;
  padding: 20px;
  border-radius: 5px;
  border: 3px solid $orange;
  width: 1000px;
  box-shadow: 2px 2px 7px $lighter-blue;
  margin-right: 28px;
}

.button_position {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
