.confirmation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D4D7E5;
  color: #003354;
  border: 5px solid #F26101;
  border-radius: 20px;
  width: 100%;
  height: 120px;
  padding: 20px;
  margin-bottom: 30px;
}

.confirmation-buddy {
  width: 200px;
  border: 1px solid black;
}

.confirmation-date {
  width: 100px;
  border: 1px solid black;
}

.message-scroll {
  max-height: 120px;
  overflow: scroll;
  padding: 5px 0;
}

.confirmation-message {
  width: 600px;
  border: 1px solid black;
}

.confirmation-action {
  width: 100px;
  border: 1px solid black;
}
