<ul class="ul-navbar">
  <li><%= link_to "Browse all buddies", buddies_path %></li>
  <li class="link-list"><a href="#">Experiences</a></li>
  <li class="link-list"><a href="#">Suggested activities</a></li>
</ul>
