<div class="buddy-search-app">
  <form class="location-text">
    <input class="location-text" type="text" placeholder="Location">
  </form>
  <div>
    <i class="search-icon fa fa-search" style="font-size:16px;color:white"></i>
  </div>
</div>

  <h1>Create a new booking</h1>
    <div class="flex-item">
      <div class="message_request">
        <%= simple_form_for [@buddy, @booking] do |f| %>
          <%= f.input :request_message %>
          <%= f.input :date %>
          <%= f.submit class:"btn btn-primary btn-lg" %>
        <% end %>
      </div>

    </div>

</div>
