 <ul class="ul-navbar">
  <li><%= link_to "Browse all buddies", buddies_path %></li>
  <li class="link-list"><a href="#">Experiences</a></li>
  <li class="link-list"><a href="#">Suggested activities</a></li>
</ul>

<h1>Dashboard</h1>
<p>Welome <%= current_user.username %>! These are your bookings:</p>
<%# @booking.each do |booking| %>
  <div>
    <%#= booking.request_message%>
  </div>

<%# end %>
