<div class="buddy-search-app">
  <form class="location-text">
    <input class="location-text" type="text" placeholder="Location">
  </form>
  <div>
    <i class="search-icon fa fa-search" style="font-size:16px;color:white"></i>
  </div>
</div>

<h1>Dashboard</h1>
<p>Welome <%= current_user.username %>! These are your bookings:</p>
<%# @booking.each do |booking| %>
  <div>
    <%#= booking.request_message%>
  </div>

<%# end %>
