<div class="buddy-search-app">
  <form class="location-text">
    <input class="location-text" type="text" placeholder="Location">
  </form>
  <div>
    <i class="search-icon fa fa-search" style="font-size:16px;color:white"></i>
  </div>
</div>
<h1>Welcome <%= current_user.username %>!</h1>
<h4> These are your bookings:</h4>
<%# @bookings.each do |booking| %>
  <div class="confirmation-container">
    <div class="confirmation-photo"><%#= booking.buddy.photo %>This is a photo</div>
    <div class="confirmation-buddy"><%#= booking.buddy.name %>Alexander</div>
    <div class="confirmation-date">
      <p><%#= booking.beginning_date.strftime("from %B %d %Y")%>2022-03-35</p>
      <p>to</p>
      <p><%#= booking.end_date.strftime("to %B %d %Y")%>2022-03-35</p>
    </div>
    <div class="message-scroll">
      <div class="confirmation-message"><%#= booking.request_message%>Der russische Angriff auf die Ukraine hat Panikverkäufe am deutschen Aktienmarkt ausgelöst. Der Dax brach zur Eröffnung am Donnerstag um 4,4 Prozent auf 13 988 Punkte ein und steuerte auf den größten Tagesverlust seit dem Börsencrash im März 2020 zu. Russland hat über mehrere Flanken einen Angriff auf die Ukraine gestartet. Dies zerstöre die Zuversicht der Anleger, sagte Karen Jorritsma, Aktien-Chefin der Investmentbank RBC Capital Markets. Die Weltwirtschaft müsse bereits mit der Straffung der Geldpolitik durch die großen Notenbanken zurechtkommen. „Jetzt stellt sich die Frage, was aus dem Wachstum wird.“</div>
    </div>
    <div class="confirmation-action"><%#= link_to <i class="bi bi-trash"></i>, booking_path(booking), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this booking?" } %>cancel</div>
  </div>
<%# end %>
