
<div class="homepage-container">
  <div class="homepage-background">
    <img class="homepage-image-left" src="https://images.unsplash.com/photo-1542404793-000981fc51f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
    <img class="homepage-image-2" src="https://images.unsplash.com/photo-1524087460115-e21f419c9e1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
    <img class="homepage-image-3" src="https://cdn.pixabay.com/photo/2017/08/01/20/52/people-2567915_960_720.jpg">
    <img class="homepage-image-4" src="https://media.istockphoto.com/photos/happy-soccer-players-with-ball-talking-on-field-picture-id901571932?b=1&k=20&m=901571932&s=170667a&w=0&h=nwk9BiFAaT21Ca8UWKi1_ZIzDRcAlPIoOUqMG5TETkM=">
  </div>
  <div class="home-button">
    <h1 class="button-browse"><%= link_to "Browse all buddies", buddies_path %></h1>
  </div>
</div>
