<h1>Welcome to Rent-A-Buddy!</h1>
<p>The platform where you can rent a pal for any occasion!</p>

<p><%= link_to "Browse all buddies", buddies_path %><p>

<div id="footer">
  <div class="social-media">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-github"></i>
  </div>
</div>
