  <header>
    <navbar>
      <ul>
        <div class="logo">
          <li><a href="#">Rent a Buddy</li>
        </div>
        <div class="links">
        <li><a href="#">Recommended friends</li>
        <li><a href="#">Experiences</li>
        <li><a href="#">Suggested activities</li>
      </ul>
    </navbar>
    <div class="searchbar">
      <ul>
        <li>Location</li>
        <li>Check in</li>
        <li>Check out</li>
      </ul>
    </div>
  </header>
  <footer>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </footer>
