<div class="homepage-background">
  <h1 class="main-header"><%= link_to "Browse all buddies", buddies_path %></h1>
  <div class="images">
    <div>
      <img class="homepage-image" src="https://cdn.pixabay.com/photo/2016/12/03/14/20/children-1879907_960_720.jpg">
      <img class="homepage-image-2" src="https://cdn.pixabay.com/photo/2019/06/14/15/34/contemplating-4273865_960_720.jpg">
    </div>
    <img class="homepage-image-3" src="https://cdn.pixabay.com/photo/2017/08/01/20/52/people-2567915_960_720.jpg">
  </div>
</div>
