<div class="navbar-menu">
  <div class="logo-and-menu">
    <h1  class="logo-font"> Rent a buddy </h1>
    <div class="right-side-menu">
      <p> Become a buddy <p>
      <div class="lang-circle">
      </div>
      <div class="menu-and-profile-icon">
        <div class="menu-line-box">
          <div class="menu-line">
          </div>
          <div class="menu-line">
          </div>
          <div class="menu-line">
          </div>
        </div>
        <div class="profile-icon">
        </div>
      </div>
    </div>
  </div>
  <ul class="ul-banner">
    <li><%= link_to "Browse all buddies", buddies_path %></li>
    <li class="link-list"><a href="#">Experiences</a></li>
    <li class="link-list"><a href="#">Suggested activities</a></li>
  </ul>
<div class="buddy-search">
  <form action="<%= buddies_path %>" class="location-text">
    <input name="search" class="location-text" type="text" placeholder="Location or hobby">
  </form>
  <div>
    <i class="search-icon fa fa-search" style="font-size:16px;color:white"></i>
  </div>
</div>

</div>
