<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div id="footer">
  <div class="social-media">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-github"></i>
  </div>
</div>
