.btn.btn-primary.btn-lg {
  background-color: $orange;
  border: none;
  height: 55px;
  border-radius: 10px;
}

.btn.btn-primary.btn-lg a {
  color: $white;
  text-decoration: none;
  font-size: large;
}
