#footer {
  bottom: 0;
  width: 100%;
  height: 80px;
  background: $dark-blue;
  // position: absolute;

}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 30px
}

.footer-content.home {
  background-color:#003354;
}

#footer p {
  color: $white;
  padding: 10px;
  margin-bottom: 0;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}
.social-media {
  text-align: center;
}

.fab {
  color:white;
  font-size: 25px;
  padding: 10px 5px;
}
