
html, body {
  position: relative;
  background-color: white;
  margin: 0;
  height: 100vh;
}

.site-container {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  padding-top: 120px;
  padding-bottom: 150px;
  overflow: auto;
}
