

html, body {
  position: relative;
  background-color: white;
  margin: 0;
  height: 100vh;
}

.site-container {
  margin: 0 auto;
  width: 80vw;
  height: 100vh;
  padding-top: 120px;
  margin-bottom: 150px;
  height: 100%;
  position: relative;
  min-height: 100vh;
  z-index: 1;
}

.site-container.pages {
  background-color: $dark-blue;
}

.site-container-body {
  background-color: #003354;
  // padding-bottom: 150px;
  overflow: auto;
}
